---
import BotonPrimario from '../../Common/BotonPrimario.astro';

interface Props {
  title: string;
  text: string;
  text2?: string;
  text3?: string;
  text4?: string;
  link?: string;
  img?: string;
  tec: string;
  tec2?: string;
  tec3?: string;
  tec4?: string;
  tec5?: string;
  summary?: string;
}
const title = Astro.props.title;
const text = Astro.props.text;
const text2 = Astro.props.text2;
const text3 = Astro.props.text3;
const text4 = Astro.props.text4;
const link = Astro.props.link;
const img = Astro.props.img;
const tec = Astro.props.tec;
const tec2 = Astro.props.tec2;
const tec3 = Astro.props.tec3;
const tec4 = Astro.props.tec4;
const tec5 = Astro.props.tec5;
const summary = Astro.props.summary;

// todo: agregar imagenes de los proyectos
// todo: hacer que al pasar por encima se abra la descripcion completa y se cierre

---

<div
  class="card rounded-xl bg-white/5 backdrop-blur-sm border border-white/10 sm:px-12 sm:py-12 px-6 py-10"
>
  <div class="flex sm:justify-between sm:items-center flex-col-reverse sm:flex-row gap-4 sm:gap-0 mb-4">
    <h3 class="text-4xl sm:text-4xl">{title}</h3>

    <div id="tech-icons" class="flex sm:items-center sm:justify-center sm:items-center gap-2">
      {tec && <div class=""> <img src={tec} alt="tec" class="h-8"/> </div>}
      {tec2 && <div class=""> <img src={tec2} alt="tec2" class="h-8"/> </div>}
      {tec3 && <div class=""> <img src={tec3} alt="tec3" class="h-8"/> </div>}
      {tec4 && <div class=""> <img src={tec4} alt="tec4" class="h-8"/> </div>}
      {tec5 && <div class=""> <img src={tec5} alt="tec5" class="h-8"/> </div>}
    </div>
  </div>

  <div id="project-summary" class="text-xl">
    {summary && <p class="zilla-slab-regular mb-4">{summary}</p>}
  </div>

  <div id="project-description" class="flex flex-col gap-4">
    <div class="text-xl gap-8">
      <div class="zilla-slab-regular gap-4 flex flex-col">
        {text && <p class="zilla-slab-regular">{text}</p>}
        {text2 && <p class="zilla-slab-regular">{text2}</p>}
        {text3 && <p class="zilla-slab-regular">{text3}</p>}
        {text4 && <p class="zilla-slab-regular">{text4}</p>}
      </div>
      { link && <div class="text-xl mt-4">
         <BotonPrimario texto="Ver Proyecto" enlace={link} />
      </div> }
    </div>
  </div>
</div>

<style>
  .card {
    height: max-content;
    width: 100%;
    border-radius: 16px;
  }
</style>
