---
import Background from "./Background.astro";
interface Props {
  title: string;
  text: string;
  text2?: string;
  text3?: string;
  text4?: string;
  link?: string;
  img?: string;
  tec: string;
  tec2?: string;
  tec3?: string;
  tec4?: string;
  tec5?: string;
}
const title = Astro.props.title;
const text = Astro.props.text;
const text2 = Astro.props.text2;
const text3 = Astro.props.text3;
const text4 = Astro.props.text4;
const link = Astro.props.link;
const img = Astro.props.img;
const tec = Astro.props.tec;
const tec2 = Astro.props.tec2;
const tec3 = Astro.props.tec3;
const tec4 = Astro.props.tec4;
const tec5 = Astro.props.tec5;
---

<div class="card pb-4">
  <div class="pb-2">
    <h3 class="text-4xl sm:text-4xl">{title}</h3>
  </div>
  <div class="sm:grid sm:grid-cols-12 sm:gap-x-2 flex flex-col gap-4">
    <div class="sm:col-span-9 text-xl gap-8">
      <div>
        {text && <p class=" ">{text}</p>}
        {text2 && <p class="">{text2}</p>}
        {text3 && <p class="">{text3}</p>}
        {text4 && <p class="">{text4}</p>}
      </div>
      <div class="text-xl">
        {
          link && (
            <a class="p-1 pl-0 w-full pt-6" href={link}>
              Échale un vistazo
            </a>
          )
        }
      </div>
    </div>

    <div
      class="sm:col-span-3 flex sm:flex-row-reverse sm:items-end sm:justify-start"
    >
      <div class="sm:w-16 w-8">
        {tec && <img src={tec} alt="tec" class="w-8 h-8" />}
      </div>
      <div class="sm:w-16 w-8">
        {tec2 && <img src={tec2} alt="tec2" class="w-8 h-8" />}
      </div>
      <div class="sm:w-16 w-8">
        {tec3 && <img src={tec3} alt="tec3" class="w-8 h-8" />}
      </div>
      <div class="sm:w-16 w-8">
        {tec4 && <img src={tec4} alt="tec4" class="w-8 h-8" />}
      </div>
      <div class="sm:w-16 w-8">
        {tec5 && <img src={tec5} alt="tec5" class="w-8 h-8" />}
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    background: transparent;
    height: max-content;
    width: 100%;
    border-radius: 16px;
  }
</style>
